<!-- <nav class="bg-white border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap">GaaSlightin</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <button type="button"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                        clip-rule="evenodd" />
                </svg>
                Sign in with Github
            </button>
        </div>
    </div>
</nav> -->




<section>
    <div class="flex justify-between w-[70%] mx-auto my-5">
        <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap">GaaSlightin</span>
        </a>
        <button type="button" routerLink="/auth" (click)="authwithgithub()"
            class="text-white bg-[#24292F] hover:bg-[#24292F]/90   font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">
            <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                    clip-rule="evenodd" />
            </svg>
            Sign in with Github
        </button>
    </div>


    <div>
        <!-- Section 1: Gaslightin Intro -->
        <div class="flex flex-col md:flex-row items-center justify-between px-6 py-8 max-w-6xl mx-auto my-6">
            <div class="space-y-4 md:w-1/2 text-center md:text-left">
                <h1 class="font-bold text-5xl leading-tight">Gaslightin</h1>
                <p class="font-bold text-3xl leading-snug">AI-Powered Career Companion for Developers</p>
            </div>
            <div class="flex-shrink-0 mt-6 md:mt-0 md:w-1/2 flex justify-center">
                <img src="./imges/JOCOM EXMAPLE.png" alt="Gaslightin Logo" class="h-[300px] w-auto">
            </div>
        </div>

        <!-- Section 2: GitHub Repository Ranking -->
        <div class="flex flex-col md:flex-row-reverse items-center justify-between px-6 py-8 max-w-6xl mx-auto my-6">
            <div class="space-y-4 md:w-1/2 text-center md:text-left">
                <h1 class="font-bold text-5xl leading-tight">GitHub Repository Ranking</h1>
                <p class="font-light text-xl leading-snug">
                    Jocom assesses and ranks GitHub repositories using various metrics, such as code quality and
                    complexity,
                    offering developers a prioritized list of their projects from strongest to weakest.
                </p>
            </div>
            <div class="flex-shrink-0 mt-6 md:mt-0 md:w-1/2 flex justify-center">
                <img src="./imges/icons Q2.png" alt="GitHub Ranking Icon" class="h-[300px] w-auto">
            </div>
        </div>

        <!-- Section 3: Dynamic Resume Generation -->
        <div class="flex flex-col md:flex-row items-center justify-between px-6 py-8 max-w-6xl mx-auto my-6">
            <div class="space-y-4 md:w-1/2 text-center md:text-left">
                <h1 class="font-bold text-5xl leading-tight">Dynamic Resume Generation</h1>
                <p class="font-light text-xl leading-snug">
                    Jocom enables users to create multiple, customized resumes tailored to different career fields,
                    leveraging their GitHub repositories and skill sets for maximum relevance and precision.
                </p>
            </div>
            <div class="flex-shrink-0 mt-6 md:mt-0 md:w-1/2 flex justify-center">
                <img src="./imges/image.png" alt="Resume Generation Icon" class="h-[300px] w-auto">
            </div>
        </div>

        <!-- Section 4: Job Description Archival -->
        <div class="flex flex-col md:flex-row-reverse items-center justify-between px-6 py-8 max-w-6xl mx-auto my-6">
            <div class="space-y-4 md:w-1/2 text-center md:text-left">
                <h1 class="font-bold text-5xl leading-tight">Job Description Archival</h1>
                <p class="font-light text-xl leading-snug">
                    Jocom allows users to archive job descriptions from target companies, preserving details about
                    required technologies and skills for future reference, even after the original postings are removed.
                </p>
            </div>
            <div class="flex-shrink-0 mt-6 md:mt-0 md:w-1/2 flex justify-center">
                <img src="./imges/Job desc arch pic.png" alt="Job Archival Icon" class="h-[300px] w-auto">
            </div>
        </div>

        <!-- Section 5: Ghostwriting as a Service -->
        <div class="flex flex-col md:flex-row items-center justify-between px-6 py-8 max-w-6xl mx-auto my-6">
            <div class="space-y-4 md:w-1/2 text-center md:text-left">
                <h1 class="font-bold text-5xl leading-tight">Ghostwriting as a Service (GaaS)</h1>
                <p class="font-light text-xl leading-snug">
                    Jocom’s GaaS feature automatically generates blog posts and social media content based on a
                    developer’s GitHub activity, LinkedIn history, or personal blog. It analyzes contributions,
                    projects, and career updates to create engaging, personalized content that users can edit and
                    publish with one click. This feature is ideal for effortless personal branding and thought
                    leadership.
                </p>
            </div>
            <div class="flex-shrink-0 mt-6 md:mt-0 md:w-1/2 flex justify-center">
                <img src="./imges/Gaas pic.png" alt="GaaS Icon" class="h-[300px] w-auto">
            </div>
        </div>
    </div>

    <div class="w-full h-[200px] bg-black flex flex-col items-center justify-center px-4">
        <h1 class="text-white text-center font-bold text-3xl mb-6">Ready to Use</h1>
        <button type="button" (click)="authwithgithub()"
            class="text-white bg-[#24292F] hover:bg-[#24292F]/90 font-medium rounded-lg text-sm px-6 py-3 inline-flex items-center justify-center transition-colors duration-200">
            <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                    clip-rule="evenodd" />
            </svg>
            Sign in with GitHub
        </button>
    </div>


</section>



<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>


    </ng-template>
    <ng-template carouselSlide>


    </ng-template>
    <ng-template carouselSlide>

    </ng-template>

    <ng-template carouselSlide>

    </ng-template>

</owl-carousel-o> -->