<div class="grid gap-5">
    <h2 class="text-3xl font-bold">Top Repos</h2>

    <!-- Cards -->
     <!-- @for (item of items; track $index) {} -->
    <div>
        <div class="w-full bg-white border border-gray-200 rounded-lg">
            <div class="flex gap-x-2 items-center">
                <span class="text-5xl font-extrabold p-1 top-0 left-0 bg-yellow-300 text-white rounded-br-md rounded-tl-md">#1</span>
                <h5 class="flex-1 text-2xl font-bold text-gray-900">Grpc in GO</h5>
                <div>
                    <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border border-yellow-300">12 star</span>
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border border-blue-300">4 fork</span>
                </div>
            </div>
            <div class="p-4 sm:p-8">
                <div>
                    <span>Brief : </span>
                    <p class="mb-5 text-base text-gray-500 sm:text-lg">A simple yet powerful implementation of gRPC in Go. This repository demonstrates how to build scalable, high-performance microservices using gRPC with Protocol Buffers. Features include unary and streaming RPCs, TLS support, and a clean client-server architecture. Ideal for developers looking to get started with gRPC in Go or integrate it into their distributed systems.</p>
                </div>
                <div>
                    <span>Stack : </span>
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border border-blue-300">Go</span>
                    <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border border-gray-300">Markdown</span>
                    <span class="bg-orange-100 text-orange-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border border-orange-300">HTML</span>
                </div>
                
            </div>
        </div>
    </div>
</div>