<!-- cover -->
<div class="w-full h-50 bg-amber-200 cover"></div>



@if(profiledata){
    <section class="px-6 py-3">
        <section class="flex flex-col gap-y-9">
            <!-- Main Info -->
            <div class="flex justify-between items-center gap-4 ms-2 -mt-[120px]">
                <div class="flex-1 relative">
                    <img class="w-[250px] h-[250px] rounded-full border-4 border-white" [src]="profiledata.profileImage"
                        alt="Profile Image">
                        <img class=" absolute top-0 z-[-1] w-[250px] h-[250px] rounded-full border-4 border-white" src="./imges/Screenshot 2025-03-20 145426.png" alt="">
                    <div class="ml-2 mt-1 grid gap-y-1">
                        <h1 class="font-bold text-3xl ">{{profiledata.displayName}}</h1>
                        <a class="font- text-xl text-gray-700 flex items-center gap-x-2"
                            [href]="`https://github.com/${profiledata.userName}`">
                            <i class="fa-brands fa-github"></i>
                            {{profiledata.userName}}
                        </a>
                        <h2 class="font- text-lg flex items-center gap-x-2">
                            <i class="fa-solid fa-location"></i>
                            <span>{{profiledata.location}}</span>
                        </h2>
                    </div>
                </div>
                <div class="flex flex-col justify-center ">
                    <span class="py-2 px-4 rounded-lg">
                        Current Work
                        <i class="fa-solid fa-briefcase text-lg pl-2"></i>
                    </span>
                    <h2 class="bg-gray-100 py-1 px-3 rounded-full text-lg mt-1">{{profiledata.company || "No Work"}}</h2>
                </div>
            </div>
    
            <div class="w-[80%] ml-auto mr-auto grid gap-y-7">
                <!-- Bio -->
                <div class="">
                    <h1 class="font-bold text-xl ms-3 ">Bio : </h1>
                    <p class="mt-4 text-lg font-light ms-6">{{profiledata.bio}}</p>
                </div>
    
                <!-- Repos -->
                <div>
                    <h1 class="font-bold text-xl ms-3 ">Repositories :</h1>
                    <div class="bg-gray-100 rounded-md p-4 mt-4 grid gap-y-4 h-[500px] overflow-y-scroll">
                        <!-- Repo -->
                        @for (item of profiledata.repositories; track $index) {
                        <div class="py-3 px-2 bg-white rounded-lg grid gap-y-2">
                            <h3 class="text-lg font-semibold">{{ item.name }}</h3>
                            <p>{{item.about}}</p>

                            <div>
                                @for (topic of item.topics; track $index) {
                                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border-blue-400">{{ topic }}</span>
                                }
                            </div>

                            <div class="flex justify-between items-center">
                                <div class="flex gap-x-3">
                                    <span>
                                        <i class="fa-solid fa-star text-sm text-yellow-300"></i>
                                        <span>{{item.stars}}</span>
                                        stars
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-code-branch text-sm"></i>
                                        <span> {{item.forks}} </span>
                                        forks
                                    </span>
                                </div>
                                <a type="button"
                                    class="flex items-center gap-x-1 cursor-pointer px-3 py-2 text-sm font-medium text-center text-black hover:text-white rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none border border-green-800"
                                    href="https://github.com/{{ profiledata.userName }}/{{ item.name }}" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                    Go To Repo
                                </a>
                            </div>
                        </div>
                        }
    
                    </div>
                </div>
            </div>
    
            <!-- <div class="flex justify-center gap-10 ">
                <div>
                    <a class="block max-w-sm p-6 bg-white border border-green-dark rounded-lg shadow-sm ">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><span class="me-1"><i
                                    class="fa-brands fa-github"></i></span>{{profiledata.userName}}</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400"> bla bla</p>
                        <button (click)="gotogithubaccount()" class="btn-main mt-3">view account</button>
                    </a>
                </div>
                <div>
                    <a class="block max-w-sm p-6 bg-white border border-green-dark rounded-lg shadow-sm ">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><span class="me-1"><i
                                    class="fa-brands fa-github"></i></span>linkedin username</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400"> bla bla</p>
                        <button class="btn-main mt-3">view account</button>
                    </a>
                </div>
            </div> -->
        </section>
    </section>

}