<section class="h-screen flex flex-col justify-between">
    <div class="flex justify-start gap-4 ms-2">
        <div>
            <img class="w-[250px] h-[250px] rounded-lg" src="./images.jpeg" alt="">
        </div>
        <div class="w-[300px] h-[300px] flex flex-col justify-center ">
            <h1 class="font-bold text-6xl">yousef</h1>
            <h2 class="font- text-2xl">yousseef-11</h2>
            <h2 class="font-light text-4xl mt-3">frontend</h2>
        </div>
    </div>
    <div>
        <h1 class="font-bold text-3xl ms-3 ">Bio</h1>
        <p class=" w-[90%] mt-4 text-2xl font-light ms-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi soluta
            praesentium quos esse? Laudantium adipisci aut temporibus laboriosam eligendi quibusdam rem similique non
            distinctio suscipit deserunt libero deleniti maiores molestiae hic provident perspiciatis quidem accusantium
            delectus aspernatur facere repudiandae, sequi illo. Veritatis dolores, vitae nemo delectus fugit veniam
            distinctio laudantium.</p>
    </div>
    <div class="flex justify-center gap-10 ">
        <div>
            <a class="block max-w-sm p-6 bg-white border border-green-dark rounded-lg shadow-sm ">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><span class="me-1"><i
                            class="fa-brands fa-github"></i></span>github usernmae</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400"> bla bla</p>
                <button class="btn-main mt-3">view account</button>
            </a>
        </div>
        <div>
            <a class="block max-w-sm p-6 bg-white border border-green-dark rounded-lg shadow-sm ">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><span class="me-1"><i
                            class="fa-brands fa-github"></i></span>linkedin username</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400"> bla bla</p>
                <button class="btn-main mt-3">view account</button>
            </a>
        </div>
    </div>
</section>