<section>
    <div>
        <h1 class="font-extrabold  text-4xl">job archival</h1>
    </div>


    <div class="flex flex-wrap justify-center mt-[50px]">
        @for (item of jobListings; track $index) {
            <div
                class=" w-[35%]  ms-6 my-2 p-2 flex justify-between  bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
                <div>
                    <h2 class="font-bold text-[#064420]">{{item.position}}</h2>
                    <h2 class="font-bold text-sm"> {{item.companyName}}</h2>
                    <h2 class="text-sm"> {{item.date}}</h2>
                </div>
                <div class="self-end m-0 p-0">
                    <button type="button" class="btn-main " routerLink="/job-descraption">View</button>
                </div>
            </div>
        }
    
    </div>
</section>