<section>
    <div class="flex justify-between items-center border-b border-gray-100 px-6 py-3">
        <div>
            <h2 class="text-4xl font-bold mb-2">GaaS</h2>
            <a href="" class="text-sm text-gray-500">
            </a>
        </div>
        <div>
            <button data-popover-target="popover-description" data-popover-placement="left" type="button"><svg
                    class="w-5 h-5 ms-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"></path>
                </svg><span class="sr-only">Show information</span></button>
            <div data-popover id="popover-description" role="tooltip"
                class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72">
                <div class="p-3 space-y-2">
                    <h3 class="font-semibold text-gray-900">GaaS (Content Generation as a Service)</h3>
                    <p>GaaSlightin automatically creates blog posts and social media content based on a developer’s
                        GitHub activity, LinkedIn history, or personal blog, making personal branding effortless.</p>
                    <h3 class="font-semibold text-gray-900">How Users Can Use It</h3>
                    <p>Users can review AI-generated content, make edits if needed, and publish with one click to
                        enhance their online presence and showcase their expertise.</p>
                </div>
                <div data-popper-arrow></div>
            </div>
        </div>
    </div>

    <div class="p-3">
        <div class="bg-gray-100 rounded-md p-4 mt-4 grid gap-y-4 h-[500px] overflow-y-scroll">
            <!-- Repo -->
            @for (item of repos; track item.id) {
            <div class="py-3 px-2 bg-white rounded-lg grid gap-y-2">
                <h3 class="text-lg font-semibold">{{ item.name }}</h3>
                <p>{{item.about}}</p>

                <div>
                    @for (topic of item.topics; track $index) {
                    <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm border-blue-400">{{
                        topic }}</span>
                    }
                </div>

                <div class="flex justify-between items-center">
                    <div class="flex gap-x-3">
                        <span>
                            <i class="fa-solid fa-star text-sm text-yellow-300"></i>
                            <span>{{item.stars}}</span>
                            stars
                        </span>
                        <span>
                            <i class="fa-solid fa-code-branch text-sm"></i>
                            <span> {{item.forks}} </span>
                            forks
                        </span>
                    </div>
                    <a type="button"
                        class="flex items-center gap-x-1 cursor-pointer px-3 py-2 text-sm font-medium text-center text-black hover:text-white rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none border border-green-800"
                        (click)="makepost(item.name)">
                        <i class="fa-brands fa-github"></i>
                        make a post
                    </a>
                </div>
            </div>
            }

        </div>
    </div>



</section>