<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
    aria-controls="sidebar-multi-level-sidebar" type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

<aside id="sidebar-multi-level-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 asid-back bg-offwhite-light"
    aria-label="Sidebar">
    <div class="flex flex-col h-full py-4 overflow-y-auto">
        <a routerLink="profile" class="flex justify-center items-center ps-2.5 mb-5">
            <span
                class="self-center text-3xl font-semibold whitespace-nowrap playfair-display-gaas">GaaSlightin'</span>
        </a>
        <ul class="space-y-2 font-medium px-3">
            <li>
                <a routerLink="profile" routerLinkActive="bg-gray-100"
                    class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                    <span><i class="fa-regular fa-user"></i></span>
                    <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
                </a>
            </li>
            <li>
                <a routerLink="repos" routerLinkActive="bg-gray-100"
                    class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                    <span><i class="fa-brands fa-github"></i></span>
                    <span class="flex-1 ms-3 whitespace-nowrap">Repos</span>
                </a>
            </li>
            <li>
                <a routerLink="gaas" routerLinkActive="bg-gray-100"
                    class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                    <span><i class="fa-regular fa-heart"></i></span>
                    <span class="flex-1 ms-3 whitespace-nowrap">Gaas</span>
                </a>
            </li>
         
            <li>
                <a routerLink="jobs" routerLinkActive="bg-gray-100"
                    class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                    <span><i class="fa-regular fa-file-zipper"></i></span>
                    <span class="flex-1 ms-3 whitespace-nowrap">Job Description Archival</span>
                </a>
            </li>
        </ul>
        
        @if(profiledata){
            <div class="mt-auto px-3">
                <div class="grid gap-y-2 w-full bg-white rounded-lg shadow-md">
                    <div class="flex items-center gap-1.5 pt-2">
                        <img [src]='profiledata.profileImage' alt="Profile picture" class="w-auto h-[50px] rounded-[2rem] ms-3">
                        <div class="">
                            <h1 class="font-bold text-s">{{profiledata.displayName}}</h1>
                            <h2 class="font-light text-xs text-gray-500">{{profiledata.userName}}</h2>
                        </div>
                    </div>
                    <button (click)="logout()" class="text-red-700 transition-colors flex gap-x-2 items-center justify-center py-1 border border-red-700 rounded-md hover:bg-red-700 hover:text-white cursor-pointer">
                        <span>Log Out</span>
                        <i class="fa-solid fa-right-from-bracket text-md"></i>
                    </button>
                </div>
            </div>
        }

    </div>
</aside>