@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #536878;
    --light-color: #EAE0C8;
    --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
        rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
        rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
}


body{
    font-family: "Roboto", sans-serif;
}

.active-link {
    background-color: var(--main-color) !important;
    color: var(--light-color) !important;
    border-radius: 5px;
}
