@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@theme {
    --color-offwhite-dark: #FAF1E6;
    --color-offwhite-light: #FDFAF6;
    --color-green-dark: #064420;
    --color-green-light: #E4EFE7;
}

:root {
    --main-color: #536878;
    --light-color: #EAE0C8;
    --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
        rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
        rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
}

body{
    font-family: "Roboto", sans-serif;
}

.active-link {
    background-color: var(--main-color) !important;
    color: var(--light-color) !important;
    border-radius: 5px;
}

.btn-main{
    @apply  text-[#064420] bg-white border-1 border-[#064420] hover:text-[#FDFAF6] hover:bg-[#064420] font-medium rounded-lg text-sm px-4 py-1  
}

.playfair-display-gaas {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
}